Лабораторная работа ВВИТ №2: Освоение многомерных массивов и математических операций с NumPy

Цель лабораторной работы: Изучить основные возможности библиотеки NumPy для работы с многомерными массивами, выполнения математических операций, индексирования и срезов данных, а также применения функций для обработки и анализа данных.

Задание 1:
1. Загрузите датасет пассажиров титаника с помощью библиотеки pandas.
2. Создайте массив numpy, содержащий данные о выживших пассажирах (колонка "Survived").
3. Посчитайте общее количество выживших пассажиров.

In [12]:
import pandas as pd
import numpy as np

#Прочтение файла train
titanic_data = pd.read_csv('./files/train.csv')

#Создание массива с данными о выживших пассажирах
numpy = np.array(train["Survived"])

#Подсчет не нулевых значений
np.count_nonzero(numpy == 1)

342

Задание 2:
1. Создайте двумерный массив numpy, содержащий данные о возрасте (колонка "Age") и стоимости билета (колонка "Fare") пассажиров.
2. Отсортируйте массив по возрасту пассажиров.
3. Выведите информацию о самом молодом и самом старом пассажире.

In [25]:
import numpy as np
import pandas as pd

#Прочтение файла train
titanic_data = pd.read_csv('./files/train.csv')

#Извлечение данных о возрасте и стоимости билета
age_fare_data = titanic_data[['Age', 'Fare']].to_numpy()

#Сортировка массива по возрасту
sorted_age_fare_data = age_fare_data[np.argsort(age_fare_data[:, 0])]

#Удаление строк с NaN значениями
sorted_age_fare_data = sorted_age_fare_data[~np.isnan(sorted_age_fare_data).any(axis=1)]

#Вывод отсортированного массива
print("Отсортированный массив по возрасту:")
print(sorted_age_fare_data)

#Индекс самого молодого пассажира в оригинальных данных
youngest_passenger_index = np.where((titanic_data['Age'] == sorted_age_fare_data[0, 0]) & (titanic_data['Fare'] == sorted_age_fare_data[0, 1]))[0][0]

#Индекс самого старого пассажира в оригинальных данных
oldest_passenger_index = np.where((titanic_data['Age'] == sorted_age_fare_data[-1, 0]) & (titanic_data['Fare'] == sorted_age_fare_data[-1, 1]))[0][0]

#Вывод информации о самом молодом пассажире
print("\nИнформация о самом молодом пассажире:")
print(titanic_data.iloc[youngest_passenger_index])

#Вывод информации о самом старом пассажире
print("\nИнформация о самом старом пассажире:")
print(titanic_data.iloc[oldest_passenger_index])

Отсортированный массив по возрасту:
[[ 0.42    8.5167]
 [ 0.67   14.5   ]
 [ 0.75   19.2583]
 ...
 [71.     49.5042]
 [74.      7.775 ]
 [80.     30.    ]]

Информация о самом молодом пассажире:
PassengerId                                804
Survived                                     1
Pclass                                       3
Name           Thomas, Master. Assad Alexander
Sex                                       male
Age                                       0.42
SibSp                                        0
Parch                                        1
Ticket                                    2625
Fare                                    8.5167
Cabin                                      NaN
Embarked                                     C
Name: 803, dtype: object

Информация о самом старом пассажире:
PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

Задание 3:
1. Создайте массив numpy, содержащий данные о количестве родственников (колонки "SibSp" и "Parch") у пассажиров.
2. Посчитайте общее количество родственников на борту.
3. Определите пассажира с наибольшим количеством родственников.

In [22]:
import numpy as np
import pandas as pd

#Прочтение файла train
titanic_data = pd.read_csv("./files/train.csv")

#Создаем массив NumPy с количеством родственников (SibSp и Parch)
relatives_array = titanic_data[["SibSp", "Parch"]].values

#Посчитаем общее количество родственников
total_relatives = np.sum(relatives_array, axis=1)

#Найдем пассажира с наибольшим количеством родственников
passenger_with_max_relatives = np.argmax(total_relatives)

# Выведем результаты
print("Общее количество родственников на борту:", total_relatives.sum())
print("Пассажир с наибольшим количеством родственников:", titanic_data.iloc[passenger_with_max_relatives])

Общее количество родственников на борту: 806
Пассажир с наибольшим количеством родственников: PassengerId                           160
Survived                                0
Pclass                                  3
Name           Sage, Master. Thomas Henry
Sex                                  male
Age                                   NaN
SibSp                                   8
Parch                                   2
Ticket                           CA. 2343
Fare                                69.55
Cabin                                 NaN
Embarked                                S
Name: 159, dtype: object